.mainbody-heading{
  text-align: center;
  font-weight: bold;
}
.mainbody-heading2{
  text-align: left;
  font-weight: 500;
  font-style: italic;
  color: rgb(63, 38, 38);
}
.mainbody-button-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  border: 2px solid black;
}

.mainbody-button-list li {
  margin-bottom: 10px; /* Adjust as needed */
}
