.mainbody-heading{
  text-align: center;
  font-weight: bold;
}
.mainbody-heading2{
  text-align: left;
  font-weight: normal;
}
.mainbody-button-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

.mainbody-button-list li {
  margin-bottom: 10px; /* Adjust as needed */
}
