.box{
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow:auto;
}
.box h4{
    
    margin-left: 570px;
    margin-bottom: 20px;
    font-size: large;
}
.product-container {
    display: grid;
    grid-template-columns: 1fr; /* Default for widths below 476px */
    gap: 10px;
}

@media (min-width: 476px) {
    .product-container {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for widths 476px and above */
    }
}

@media (min-width: 708px) {
    .product-container {
        grid-template-columns: repeat(3, 1fr); /* 3 columns for widths 708px and above */
    }
}

@media (min-width: 992px) {
    .product-container {
        grid-template-columns: repeat(4, 1fr); /* 4 columns for widths 992px and above */
    }
} 
.product{
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.product:hover{
    /* transform: scale(0.75); */
    cursor: pointer;
}
.product img{
    width: 200px;
    height: 200px;
}
.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    
}
.button-container button{
    padding: 10px 20px ;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.product p{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: rgb(232, 228, 224);
    height: 50px;
    width: 200px;
}
.product-loading{
    color: brown;
}
