.website-footer{
    position: absolute;
    bottom: 0px;
    background-color: black;
    width: 100%;
    color: white;
    text-align: center;
    font-size: small;
}
.website-footer p{
    margin: 2px;
}