.website-footer{
    background-color: rgba(38, 36, 36);
    width: 100%;
    color: white;
    text-align: center;
    height: 70px;
    position: relative;
    bottom: 0px;
    margin-top: 20px;
}
.website-footer p{
    margin: 8px 8px;
}