.box{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.box h4{
    
    margin-left: 570px;
    margin-bottom: 20px;
    font-size: large;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
}
.product{
    padding: 30px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.product:hover{
    transform: scale(0.75);
    cursor: pointer;
}
.product img{
    width: 200px;
    height: 200px;
}
.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    
}
.button-container button{
    padding: 10px 20px ;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.product p{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: rgb(232, 228, 224);
    height: 50px;
    width: 200px;
}
.product-loading{
    color: brown;
}