.tree-view-container{
    background-color: rgb(13, 32, 32);
    width: 300px;
    min-height: 100vh;
    position: fixed;
}

.menu-item{
    color: white;
    display: flex;
    gap: 20px;
    cursor: pointer;
}
.menu-list-container{
    list-style: none;
    margin-top: 20px;
    margin-bottom: 0px;
}
/* .display button{
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: large;
    font-weight: bold;
    
} */
.sidebar {
    position: absolute;
    top: 80px;
    left: 0;
    width: 250px; 
    height: 100%; 
    background-color: #f0f0f0; 
    transition: transform 0.3s ease;
  }
.hidden {
    transform: translateX(-100%);
  }
  
  .visible {
    transform: translateX(0);
  }
 