.tree-view-container{
  background-color: rgb(13, 32, 32);
  width: 300px;
  min-height: 100vh;
  
}

.menu-item{
  color: white;
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}
.menu-list-container{
  list-style: none;
  margin-top: 100px;
  display: flex;
}
.display button{
  height: 40px;
  width: 40px;
  text-align: center;
  font-size: large;
  font-weight: bold;
  
}